In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('QTL_Sample_data.xls')
data

,ID,Point,Strain,sex,sex#,age,bodywt,brainwt,MedUNshOB,Res1_sex,Res2_sex-age,Res3_sex-age-bw,Res4_sex-age-bw-brnw
0,169,0.3,B,F,2,189,29.40,495.8,31.976,11.49506,9.57071,9.09569,7.37700
1,171,0.3,B,F,2,51,19.70,474.9,24.772,4.29106,4.92325,4.77891,2.92035
2,232,0.3,B,M,1,294,35.00,476.1,24.836,4.44382,0.57692,0.30106,-0.74414
3,1709,0.3,B,M,1,70,26.00,478.5,22.957,2.56518,3.08886,2.65279,0.89738
4,247,0.4,D,M,1,203,26.70,397.2,20.035,-0.35698,-2.53805,-2.35912,-1.33226
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,588,40.0,BxD40,M,1,58,23.15,436.5,18.790,-1.60218,-1.09703,-1.42900,-1.82420
131,520,42.0,BxD42,M,1,49,22.87,459.4,20.789,0.39722,1.06910,0.71292,-0.54861
132,530,42.0,BxD42,F,2,50,17.82,434.7,18.799,-1.68214,-1.03143,-0.93844,-1.57389
133,550,42.0,BxD42,M,1,42,21.74,461.0,19.587,-0.80541,-0.00385,-0.26044,-1.72821
134,590,42.0,BxD42,M,1,56,24.46,467.8,19.874,-0.51778,0.02442,-0.49107,-1.85076

In [3]:
dimensions = data.shape
print("Liczba wierszy i kolumn: ", dimensions)

Liczba wierszy i kolumn:  (135, 13)

In [4]:
data_mean=data["age"].mean()
print("Średni wiek:", data_mean)

Średni wiek: 87.36296296296297

In [5]:
data_max=data["brainwt"].max()
print("Najwyższa wartość brainwt:", data_max)

Najwyższa wartość brainwt: 551.5

In [6]:
data_min=data["brainwt"].min()
print("Najmniejsza wartość brainwt:", data_min)

Najmniejsza wartość brainwt: 324.7

In [7]:
plec = data[data['ID']==1709].copy()
print("Płeć myszy o ID 1709:", plec.iloc[0]['sex'])

Płeć myszy o ID 1709: M

In [8]:
ID_max = data[data['bodywt'] == data['bodywt'].max()].copy()
print("ID myszy o najwyższej wartości bodywt:", ID_max.iloc[0]['ID'])

ID myszy o najwyższej wartości bodywt: 232

In [9]:
sex_count = data['sex'].value_counts().copy()
print(sex_count)

M           40
F           37
M           31
F           27
Name: sex, dtype: int64

In [10]:
data['sex']=data['sex'].str.replace(' ','').copy()

In [11]:
sex_count = data['sex'].value_counts().copy()
print("Ilość myszy płci męskiej i żeńskiej:")
print(sex_count)

Ilość myszy płci męskiej i żeńskiej:
M    71
F    64
Name: sex, dtype: int64

In [12]:
type_count = data['Strain'].value_counts().copy()
print("Rodzajów myszy jest:", type_count.count())

Rodzajów myszy jest: 38

In [13]:
brainwt_m = data[data['sex']=="M"].copy()
brainwt_m_mean = brainwt_m['brainwt'].mean()
brainwt_f = data[data['sex']=="F"].copy()
brainwt_f_mean = brainwt_f['brainwt'].mean()
bodywt_m = data[data['sex']=="M"].copy()
bodywt_m_mean = bodywt_m['bodywt'].mean()
bodywt_f = data[data['sex']=="F"].copy()
bodywt_f_mean = bodywt_f['bodywt'].mean()
print("Średnia wartość brainwt dla myszy męskich:", brainwt_m_mean)
print("Średnia wartość brainwt dla myszy żeńskich:", brainwt_f_mean)
print("Średnia wartość bodywt dla myszy męskich:", bodywt_m_mean)
print("Średnia wartość bodywt dla myszy żeńskich:", bodywt_f_mean)

Średnia wartość brainwt dla myszy męskich: 420.36901408450706
Średnia wartość brainwt dla myszy żeńskich: 422.7421875
Średnia wartość bodywt dla myszy męskich: 22.194225352112674
Średnia wartość bodywt dla myszy żeńskich: 20.357187499999995